* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: purple;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  margin-top: 10px;
  color: white;
}

.divPrincipal {
  margin-top: 10px;
  background-color: white;
  height: 220px;
  width: 200px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

label {
  font-size: 10px;
  color: black;
  background-color: transparent;
}

button {
  color: black;
  height: 15px;
  font-size: 10px;
  border: 1px solid black;
}

button:active {
  background-color: blue;
}

#mensagem {
  height: 15px;
  width: 110px;
  background-color: transparent;
  border: 1px solid black;
}

.input {
  background: transparent;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

textarea {
  resize: none;
  height: 120px;
  width: 170px;
}

h2 {
  font-size: 10px;
}

.footer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}